@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fruktur&family=Mochiy+Pop+P+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
:root
{
    --left-bg-color:rgba(87,84,236,0.7);
    --right-bg-color:rgba(43,43,43,0.8);
    --left-btn-color:rgba(87,83,236,1);
    --right-btn-color:rgb(239, 243, 8);

    --hover-width:75%;
    --other-width:25%;
    --speed: 1000ms;
}

* 
{
    box-sizing: border-box;
}

/*alinhar conteudos ao centro*/
body
{
    background-image: linear-gradient(90deg, #097205, #165502);
   font-family: 'Lato',sans-serif;
    display: flex;          /*coloca tudo em linha*/
   flex-direction: column; /*coloca tudo em coluna*/
    align-items: center;    /*alinha horizontalmente*/
    justify-content: center;/*alinha tudo verticalmente com uso de height:100vh*/
  /* height: 100vh;*/
    /*overflow: hidden; /*BARRA DE SCROLL DOWN, HIDDEN ESCONDIDA*/
    margin: 0;
    overflow-x: hidden; /*REMOVER BARRA DE SCROLL HORIZONTAL*/
    padding: 20px;
}
h1{
    margin: 50px 0 30px;
    text-align: center;
}
.faq-main{
    max-width: 600px;
    margin: 0 auto;
}

.faq{
    background-color: transparent;
    border: 1px solid #9fa48a;
    border-radius: 10px;
    margin: 20px 0;
    padding: 30px;
    position: relative;
    overflow: hidden;
    transition: 0.3s ease;
}
.faq.ativo{
    background-color: darkgoldenrod;
    box-shadow: 0 8px 6px rgba(0,0,0,0.1), 0 3px 6px rgba(0,0,0,0.1);
}

.faq.ativo::before,
.faq.ativo::after{
    content: '\f075';
    font-family: 'Font Awesome 6 Free';
    color: #2ecc71;
    font-size: 7rem;/*7 vezes o tamanho do root, 16px iniciais*/
    position: absolute;
    opacity: 0.4;
    top: 20px;
    left: 20px;
    z-index: 0;
}
.faq.ativo::before{
    color: #3498db;
    top: -10px;
    left: -30px;
    transform: rotateY(180deg);
}
.faq-titulo{
    margin: 0 35px 0 0;
}
.faq-texto{
    display: none;/*PARA AS RESPOSTAS FICAREM ESCONDIDAS*/
    margin: 30px 0 0;
}
.faq.ativo .faq-texto{
    display: block;
}

.faq-toggle{
    background-color: transparent;
    border: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    padding: 0;
    position: absolute;
    top: 30px;
    right: 30px;
    height: 30px;
    width: 30px;    
    border-radius: 50%;
}

.faq-toggle:focus{
    outline: 0;
}

.faq-toggle .fa-times{
    display: none;
}
.faq.ativo .faq-toggle .fa-times{
    display:block;
    color: #fff;
}
.faq.ativo .faq-toggle .fa-chevron-down{
    display:none;
}
.faq.ativo .faq-toggle{
    background-color: #165502;
}

/*estilos do footer */

footer{
    font-size: 8pt;
    color: rgb(255, 196, 0);
    position: fixed;
    text-align: center;
    border-top: 1px dashed;
    font-family:'lato',sans-serif;
    bottom: 0.5rem; 
    font-weight: 700;
}


footer a{
   color: #171a13;  /*cor dos links a preto*/
   text-decoration: none;     /*retira o sublinhado dos links*/
}

footer a:hover{
    color: rgb(255, 196, 0);
}



@media(max-width: 480px)        /*para ecras mais pequenos*/
{
    body{
       height: auto;
        overflow:visible;
    }
    footer{
        visibility: hidden;
    }



@media (max-width: 800px)
{
    body{
     
        overflow:visible;
    }


}





